<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h2 style="font-family:Helvetica">ФИО:{{ dataabout.fio }}</h2>
    <h2 style="font-family:Helvetica">Рост:{{ dataabout.height}}</h2>
    <h2 style="font-family:Helvetica">Вес:{{ dataabout.weight }}</h2>
    <h2 style="font-family:Helvetica">Возраст:{{ dataabout.age}}</h2>
</body>
</html>