<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templates-index</title>
</head>
<body>
    <h2 style="font-family:Helvetica">Учусь в {{ data.place }}</h2>
    <h2 style="font-family:Helvetica">Учебная группа{{ data.group }}</h2>
    <h2 style="font-family:Helvetica">Специальность:{{ data.spec }}</h2>
    <h2 style="font-family:Helvetica">В будущем вижу себя {{ data.work }}</h2>
    {% include "form.html" %}
</body>
</html>